.grocery-list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 330px;
    height: 600px;
    overflow-y: scroll;
    border: 1px solid rgb(122, 100, 0);
    border-radius: 2px;
}
.grocery-list-title {
    font-size: 30px;
    box-sizing: border-box;
    margin-left: 30px;
    margin-bottom: 20px;
}

.gl-individual-item-container {
    display: flex;
    width: 290px;
    /* flex-direction: row; */
    /* align-items: space-between; */
    justify-content: space-between;
}
.gl-individual-item-name {
    font-size: 18px;
    box-sizing: border-box;
    margin-left: 18px;
    margin-right: 18px;
}

.gl-remove-button {
    background-color: #f8fbc5 !important;
    height: 24px;
    width: 60px;
    border-radius: 7px;
    font-size: 12px;
    text-align: center;
    border: none;
    box-shadow: 2px 2px rgb(158, 125, 53);
    box-sizing: border-box;
    margin-top: 5px;
}
.gl-remove-button:hover {
    box-shadow: 3px 3px 1px rgb(158, 125, 53);
}