.ingredients-page-grid {
    display: grid;
    grid-template-columns: 400px 700px 300px;
    /* height: 900px; */
}

.all-ingredients-container {
    width: 700px;
    /* height: 700px; */
    grid-column: 2;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 10vh;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* overflow-y: scroll; */
}

.ingredient-individual-container {
    display:flex;
    flex-wrap: wrap;
    border: 1px solid rgb(122, 100, 0);
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    width: 300px;
    height: 60px;
    font-size: 15px;
    border-radius: 2px;
}
.ingredient-individual-container:hover {
    border: 2.2px solid black;
}

.ingredient-button {
    background-color: #f8fbc5 !important;
    height: 45px;
    width: 70px;
    border-radius: 20px;
    font-size: 12px;
    text-align: center;
    border: none;
    box-shadow: 2px 2px 1px 0px rgb(158, 125, 53);
}
.ingredient-button:hover {
    box-shadow: 2px 2px 2px 1px rgb(158, 125, 53);
}

.removeGL-ingredient-button {
    background-color: #461310ec !important;
    height: 45px;
    width: 70px;
    border-radius: 20px;
    font-size: 10px;
    text-align: center;
    color: whitesmoke;
    border: none;
    box-shadow: 2px 2px 1px 0px rgb(158, 125, 53);
}
.removeGL-ingredient-button:hover {
    box-shadow: 2px 2px 2px 1px rgb(158, 125, 53);
}

.ingredients-search-input {
    width: 400px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    margin-left: 125px;
}
.ingredients-search-input:focus {
    outline: 0;
    border: 2px solid black;
}

.ingredients-page-right-side-container {
    grid-column: 3;
    position: fixed;
    left: 1100px;
    /* display: flex; */
    /* position: sticky;
    top: 150px; */

}

.ingredients-page-ingredient-form-container {
    grid-column: 1;
    /* display: flex;
    flex-direction: column-reverse; */
    width: 300px;
    position: fixed;
    top: 150px;
    box-sizing: border-box;
    margin-left: 50px;
}