.all-ingredients-container {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ingredient-individual-container {
    display:flex;
    border: 1px solid black;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    width: 400px;
}

.ingredient-button {
    background-color: #C6FFC1 !important;
}