/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;500;700&display=swap');
body {
    background-color: hsl(202, 69%, 6%);
    /* background-image: url('./images/Weird-blue-texture.png'); */
    margin: 0 !important;
    font-family: 'Noto Serif TC', serif;
    color: #FFFBDF;
}