.nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    border-bottom: 2.2px solid rgb(122, 100, 0);
    box-sizing: border-box;
    padding: 5px;
    font-size: 18px;
}

.navbar-link {
    text-decoration: none;
    color: #6aabc5;
    box-sizing: border-box;
    margin: 10px;
}
.navbar-link:visited {
    color: #6aabc5;
}
.navbar-link:hover {
    /* font-size: 26px; */
    text-decoration: underline;
    /* font-weight: 600; */
}

.navbar-logo-home {
    height: 60px;
    width:  210px;
    box-sizing: border-box;
    /* margin: 15px; */
}

.navbar-logo-home:hover {
    height: 62px;
    width: 213px;
}