.homepage-container {
    display: grid;
    grid-template-columns: 700px 200px 400px;
    /* height: 200px; */
}

.main-container {
    grid-column: 1;
    box-sizing: border-box;
    /* border: 1px solid rgb(122, 100, 0); */
    margin: 10px;
}

.homepage-meals-text {
    font-size: 20px;
}

.gl-container {
    /* border: 1px solid rgb(122, 100, 0); */
    box-sizing: border-box;
    margin: 10px;
    grid-column: 3;
}