.homepage-container {
    display: grid;
    grid-template-columns: 600px 250px;
    height: 200px;
}

.main-container {
    border: 1px solid black;
    box-sizing: border-box;
    margin: 10px;
}

.gl-container {
    border: 1px solid black;
    box-sizing: border-box;
    margin: 10px;
}