.ingredient-form-container {
    grid-column: 2;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 10px;
}

.ingredient-form-text {
    font-size: 24px;   
}

.ingredient-form-input {
    font-size: 18px;
    box-sizing: border-box;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid black;
    height: 30px;
}
.ingredient-form-input:focus {
    outline: 0;
    border: 2px solid black;
}

.ingredient-form-button {
    background-color: #f8fbc5 !important;
    height: 40px;
    width: 140px;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    border: none;
    box-shadow: 2px 2px 1px 0px black;
    box-sizing: border-box;
    margin-top: 8px;
    box-shadow: 2px 2px 1px 0px rgb(158, 125, 53);
}
.ingredient-form-button:hover {
    box-shadow: 2px 2px 2px 1px rgb(122, 100, 0);
}