.footer-container {
    width: 100%;
    background-color: rgb(255, 249, 198) ;
    color: black;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9vh;
    box-sizing: border-box;
    margin-top: 4px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.footer-name {
    font-size: 2vh;
    font-weight: 600;
}

.footer-links {
    text-decoration: none;
    color: black;
    font-size: 1.7vh;
}
.footer-links:visited {
    color: black;
}
.footer-links:hover {
    text-decoration: underline;
    font-size: 2.3vh;
}