.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    border-bottom: 4px solid black;
    box-sizing: border-box;
    padding: 5px;
    font-size: 25px;
}