.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    border-bottom: 4px solid black;
    box-sizing: border-box;
    padding: 5px;
    font-size: 25px;
}

.navbar-link {
    text-decoration: none;
    color: #34656d;
    box-sizing: border-box;
    margin: 10px;
}
.navbar-link:visited {
    color: #34656d;
}
.navbar-link:hover {
    /* font-size: 26px; */
    text-decoration: underline;
    font-weight: 600;
}