.meal-form-container {
    /* margin-left: 150px; */
    width: 100%;
    height: 900px;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    background-image: url('../../images/cooking-image-3.jpeg');
}

.meal-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.meal-form-div {
    box-sizing: border-box;
    margin: 8px;
}

.meal-form-input {
    font-family: inherit;
    text-align: center;
    font-size: 30px;
    border-radius: 4px;
    background-color:palegoldenrod;
}
.meal-form-input:focus {
    outline: 0;
}

.meal-form-select {
    font-family: inherit;
    text-align: center;
    font-size: 30px;
    border-radius: 4px;
    background-color:palegoldenrod;
}
.meal-form-select:focus {
    outline: 0;
}

.meal-form-textarea {
    font-family: inherit;
    text-align: left;
    font-size: 30px;
    border-radius: 4px;
    width: 600px;
    height: 300px;
    background-color:palegoldenrod;
}
.meal-form-textarea:focus {
    outline: 0;
}

.meal-form-button {
    font-family: inherit;
    text-align: left;
    font-size: 30px;
    border-radius: 4px;
    background-color:palegoldenrod;
}